doctype html
html(lang="en")
    head
        script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
        script(src="/vendor/pixi.js")
    body
        script(src="/index.js")
