doctype html
html(lang="en")
    head
        script(src="/vendor/jquery.js")
        script(src="/vendor/pixi.js")
        script(src="/vendor/events.js")
        script(src="/vendor/raf.js")
        script(src="/vendor/seed-random.js")
        script(src="/vendor/extend.js")
    body
        canvas(id="main")
        script(src="/index.js")
